---
title: "网络推广-担路网"
layout: "default"
isPage: "true"
---

<div class="color-list clearfix">
                	<b>按颜色：</b>
                  <ul>
                    {% for c in colors %}
                    <li {% if c == color %} class="active" {% endif %}><a href="http://www.danlu.net/case/{{ klass.id }}/{{ category.id|default:'0' }}/{{ c.id }}/"><span style="background:{{c.code}}">&nbsp;</span>{{ c.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
<div class="wrap clearfix">
<div class="img-items" id="flow">
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://s2.d2scdn.com/homepage/case/1_1BS4V9D.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20150409155647-83905048388987776_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20121103150106-397934628_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20150409181211-57036327430978416_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20150409155647-83905048388987776_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20121103150106-397934628_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20150409181211-57036327430978416_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20150409155647-83905048388987776_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20121103150106-397934628_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20150409181211-57036327430978416_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20150409155647-83905048388987776_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
	<div class="item">
	<div class="case_body">
		<div class="case_w" href="#" style="bottom: 14px;">
        	<div class="item-img"><img src="http://dz.pangu.us/upfile/example/listpic/20121103150106-397934628_thumb.jpg"></div>
			<div class="fire" style="display: none;"></div>
			<a href="{{ obj.link }}" target="_blank" class="y" style="top: 63px; display: none;">模板编号：{{ obj.code }}<br />演示地址<font class="sont">>></font></a>
		</div>
	</div>
	</div>
</div>
</div>