---
title: "PC网站创意库"
layout: "library"
isPage: "true"
---



<script type="text/template" id="case-list-tpl">
<% _.each(caseList, function (tpl) { %>
  <div class="item case-id-<%= tpl.get('id') %>">
      <a target="_blank" href="<%= tpl.get('link') %>" title="<%= tpl.get('name') %>">
      <div class="item-img"><img src="<%= tpl.get('image') %>"></div>
      <div class="item-dec"><%= tpl.get('description') %></div>
      <div style="display:none">演示地址<font class="sont">>></font></div>
      <div class="item-name">模板编号：<%= tpl.get('name') %></div>
      </a>
  </div>
<% }); %>
</script>


<script type="text/template" id="color-list-tpl">
    <ul>
        <li><a href="#/t/<%= options.klass %>/<%= options.category %>/0">全部</a></li>
        <% _.each(colorList, function (color) { %>
        <li <% if (color.get('id') == options.color) { %>
          class="active"
            <% } %>
          >
            <a href="#/t/<%= options.klass %>/<%= options.category %>/<%= color.get('id') %>">
                <span style="background:<%= color.get('code') %>">&nbsp;</span>
                <%= color.get('name') %>
            </a>
        </li>
        <% }); %>
    </ul>
</script>


<script type="text/template" id="category-list-tpl">
    <ul>
        <li><a href="#/t/<%= options.klass %>/0/<%= options.color %>">全部</a></li>
        <% _.each(categoryList, function (category) { %>
        <li<% if (category.get('id') == options.category) { %>
          class="active"
            <% } %>
          ><a href="#/t/<%= options.klass %>/<%= category.get('id') %>/<%= options.color %>"><%= category.get('name') %></a></li>
        <% }); %>
    </ul>
</script>



<div class="wrapbg">
  <div class="clearfix">
  <div class="searchwrap">
    <div class="searchbox">
      <div class="searchli color-list clearfix" id="category-wrap">
        <b>按行业：</b>
      </div>
      <div class="searchli color-list clearfix" id="color-wrap">
        <b>按颜色：</b>
      </div>
    </div>
  </div>
  <div class="img-items" id="item-wrap">
    <h1>List</h1>
  </div>
  <div id="pagination-wrap">
    
  </div>
  </div>
</div>