---
title: "PC网站创意库"
layout: "library"
isPage: "true"
---



<script type="text/template" id="case-list-tpl">
<% _.each(caseList, function (tpl) { %>
  <div class="item case-id-<%= tpl.get('id') %>">
      <a href="<%= tpl.get('link') %>"><img src="<%= tpl.get('image') %>"></a>
      <span><%= tpl.get('name') %></span>
  </div>
<% }); %>
</script>


<script type="text/template" id="color-list-tpl">
    <ul class="color-list">
        <% _.each(colorList, function (color) { %>
        <li>
            <a>
                <span style="background:<"></span>
                <%= color.get('name') %>
            </a>
        </li>
        <% }); %>
    </ul>
</script>


<div class="img-items" id="item-wrap">
</div>

<div id="color-wrap">

</dvi>
